.acs-div-filter{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter1{
    display: flex;
    width: 350px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter3{
    display: flex;
    width: 300px;
    flex-direction: row;
    margin: 4px 0;
}
.acs-div-filter4{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.acs-div-form2{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.acs-div-form3{
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
}
.acs-div-form4{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.acs-btn-form{
    /* margin: 10px; */
    width: 300px;
    aspect-ratio: 12/3;
}
.acs-btn-form5{
    display: block;
    align-self: center;
}
.acs-table-barcode{
    display: block;
}
tr.selected {
    background-color: yellow !important;
}
tr {
    cursor: pointer;
}
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#modalContent {
  background-color: white;
  padding: 20px;
}

#closeModalButton {
  margin-top: 10px;
}
