.acs-div-filter1 {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2 {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-container {
    width: 900px;
    height: auto;
    border: 2px;
    border-style: solid;
    background-color: white;
}
.cetak-sppdf-container {
    width: 100%;
    display: block;
    overflow: auto;
    height: auto;
}
.cetak-sppdf-container01 {
    width: 96%;
    height: 100%;
    display: block;
    align-items: flex-start;
    flex-direction: column;
    padding: 1%;
}
.cetak-sppdf-container02 {
    width: 97%;
    display: flex;
    align-items: flex-start;
    gap: 2%;
}
.cetak-sppdf-container03 {
    flex: 0 0 auto;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.cetak-sppdf-container04 {
    flex: 0 0 auto;
    width: 100%;
    height: 80%;
    display: block;
    text-align: center;
}
.cetak-sppdf-container05 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: flex-start;
}
.cetak-sppdf-container06 {
    flex: 0 0 auto;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.cetak-sppdf-container07 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: flex-start;
}
.cetak-sppdf-container08 {
    width: 100%;
    margin: 10px 0 10px 0;
}
.cetak-sppdf-container07 table,
.cetak-sppdf-container05 {
    font-size: 17px;
    padding: 0;
}
.cetak-sppdf-container05 span {
    font-size: 14px;
}
#table_sp table tr td,
#table_sp table tr td:first-child {
    border: 1px solid black !important;
}
#table_sp th {
    text-align: center;
}
.cetak-sppdf-container05 table tr td,
.cetak-sppdf-container05 table tr td:first-child {
    border: none !important;
}
.cetak-sppdf-container07 table tr td,
.cetak-sppdf-container07 table tr td:first-child {
    border: none !important;
}
.cetak-sppdf-container08 table tr td {
    padding: 2px 4px;
    vertical-align: top;
}
.cetak-sppdf-container08 table tr td:nth-child(4) {
    text-align: center;
}
.cetak-sppdf-container09 {
    width: 100%;
    margin-top: 5px;
}
.cetak-sppdf-container09 table tr td,
.cetak-sppdf-container09 table tr td:first-child {
    border: none !important;
    font-size: medium;
    vertical-align: text-top;
}
.cetak-sppdf-container10 {
    width: 100%;
    margin-top: 5px;
}
.cetak-sppdf-container-tanda-tangan {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 150px;
    align-items: end;
}
.cetak-sppdf-tanda-tangan {
    position: absolute;
    text-align: center;
}
.signature {
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100%;
    text-decoration: underline;
}
.cetak-sppdf-tanda-tangan1 {
    position: absolute;
    right: 0%;
    text-align: center;
}
.cetak-sppdf-tanda-tangan2 {
    position: absolute;
    left: 40%;
    min-width: 200px;
    text-align: center;
}
.acs-garis-tt {
    border: solid 0.1rem rgba(0, 0, 0, 0.5);
}
.kolom-nama-tt {
    text-decoration: underline;
}
@media print {
    body * {
        visibility: hidden;
        /* margin-left: 5px; */
    }
    .acs-div-container,
    .acs-div-container * {
        font-family: Arial, Helvetica, sans-serif;
        visibility: visible;
        border: none;
    }
    .acs-div-container {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: 100%;
    }
    #table_sp {
        border-collapse: collapse !important;
    }

    #table_sp,
    #table_sp th,
    #table_sp td {
        border: 1px solid black !important;
        padding: 3px;
    }
    #table_sp th {
        font-size: 15px;
        white-space: nowrap;
        text-align: center;
    }
    #table_sp td:first-child,
    #table_sp td:last-child,
    #table_sp td:nth-child(4) {
        text-align: center;
    }
    #table_sp td,
    .cetak-sppdf-container09 table,
    .cetak-sppdf-container08 table,
    .cetak-sppdf-container07 table,
    .cetak-sppdf-container05 {
        font-size: 17px;
    }
    .cetak-sppdf-container09 table tr {
        break-inside: avoid;
    }
    #table_sp td {
        break-inside: avoid;
    }
}
