.acs-div-filter{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter1{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-filter2{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.acs-div-container{
    width: 17cm;
    height: 21cm;
    border: 2px;
    border-style: solid;
    background-color: white;
}
.cetak-sjpdf-container{
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
    width: 98%;
}
.cetak-sjpdf-container1{
    width: 98%;
    margin-left: 1%;
    display: flex;
}
.cetak-sjpdf-container2{
    border: 1px solid black;
    flex: 1;
    height: 100px;
    font-size: smaller;
}
.cetak-sjpdf-container3{
    flex: 1;
}
.cetak-sjpdf-container4{
    border: 1px solid black;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
}
.cetak-sjpdf-container5{
    width: 98%;
    margin-left: 1%;
    display: flex;
}
.cetak-sjpdf-container6{
    flex: 1;
    text-align: center;
    padding: 5%;
    font-size: small;
}
.cetak-sjpdf-container7{
    flex: 1;
    padding: 5%;
    font-size: smaller;
}
.cetak-sjpdf-tabel{
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
}

@media print{
    .acs-div-form{
        display: none;
    }
    .acs-div-container{
        border: none;
    }
}
