.acs-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
}
.acs-form1{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}
.acs-div-filter{
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-bottom: 4px;
}
.acs-div-filter1{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }

  #error {
    margin-top: 20px;
    font-weight: bold;
    color: red;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
